* {
  margin: 0;
  padding: 0;

}


.background {
  /* background-image: url("images/cloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  height: 100vw;
  width: 100vw; 

  background-color: grey;

}


.fade {
  animation: fadeInAnimation ease-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


.frame {

 
  /* height: 1000px; */
  height: calc(80vh);
  width: 45%;
  
  border: 2px solid;

}

nav {
  margin: 1vw;
  position: relative;
  
}



.highlight-text li {

  color: rgba(0, 4, 8, 0.842); 
  text-decoration: none;
  transition: border-radius 1s;
  transition-timing-function: ease-in;
  border-radius: 50px;

}

.highlight-text li:hover
{
  background-color: rgba(2, 113, 204, 0.514);
} 

.highlight-text li a{
  text-decoration: none;
}


img.link-img {
  
  width: 3rem;

}

img.card-img {

  width:100%;
  height: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


NavBar:focus-within {
  background-color: blueviolet;
}